# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# into container run: mysqld --verbose --help | grep bind-address

[mysqld]
secure-file-priv = NULL

# Accept connections from any IP address
bind-address	            = 0.0.0.0